html {

    --back-brawn: rgb(49,46,43);
    --side-brawn: rgb(39,37,34);
    --side-brawn_dark: rgb(34,32,29);
    --active-brawn: rgb(28,26,24);
    --text-color: rgb(165,164,163);
    --button-white-green: rgb(127,166,80);
    --button-dark-green: rgb(83,113,51);
    --timer-white: rgb(152,150,149);
    --timer-black: rgb(43,39,35);
    --timer-text: rgb(98,95,92);

    box-sizing: border-box;
    color: var(--text-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--back-brawn);
}

/* header */

header {
    display: flex;
    padding: 0.1em;
}

header > img {
    margin-left: 3em;
}

/* _____menu_____ */

.menu {
    position: relative;
    /* display: flex;
    flex-direction: column;
    height: 100%; */
}



.menu-toggle {
    position: absolute;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4em;
    text-indent: 3em;
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.3em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
    color: var(--text-color);
}




.menu-dropdown {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 0.2em;
    background-color: var(--side-brawn);
    

}

.menu-dropdown  ul {
    margin: 0;
    padding: 0;
}

.menu.is-open .menu-dropdown {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ________search________ */

.search {
    display: block;
    margin: .8em 0.8em .8em 1em;
    border: 0.1em solid rgb(49,46,43);
    border-radius: .3em;
    height: 2em;
    line-height: 1;
    background-color: rgb(61,59,57);
}

.media-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--side-brawn);
    padding: 0.4em;
}

.media-link > img {
    margin-right: 0.4em;
}

/* ___bottom-links____ */

.bottom-links {
    margin-top: auto;
    margin-bottom: 4em;
}

.media-link--small {
    font-size: 0.8em;
    font-weight: bold;
}

.media-link--gamer {
    background-color: var(--back-brawn);
    align-items: flex-start;
    padding-left: 0;
}

.media-link--sidebar {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0.5em 0;
    text-align: center;
    font-size: 0.9em;
    background-color: var(--active-brawn);

}




/* _____side-items_____ */

.side-menu {
    margin-left: auto;
}

.side-menu > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.side-menu a {
    padding: 0 0.1em;
}

/* game */
.game {
    margin: 0.8em 2em;
}

.gamer {
    display: flex;
    justify-content: space-between;
}

.timer {
    align-self: center;
    font-size: 1.7em;
    background-color: var(--timer-black);
    padding: 0.3em 0.3em 0.3em 2em;
    border-radius: 0.2em;
}

.timer--gamer {
    background-color: var(--timer-white);
    color: var(--timer-text);
}

/* sidebar */

.sidebar {
    margin: 0.8em 2em;
    background-color: var(--side-brawn_dark);

}

.sidebar-buttons {
    display: flex;
    border-radius: 1em;

}

.play-time {
    margin: 1em;
}


.time {
    display: flex;
    justify-content: center;
    padding: 1em; 
    align-items: center;
    background-color: var(--back-brawn);
    margin: 1em;
    border-radius: 0.5em;
    
}

.time > img {
    padding-right: 0.5em;
}

.play {
    background-color: var(--button-white-green);
    border-bottom: 0.2em solid var(--button-dark-green);
    border-radius: 0.5em;
    margin: .75em;
    padding: 1em;
    text-align: center;
    line-height: 0.5em;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-shadow: 15px;

}

.sidebar-media {
    background-color: var(--side-brawn);
    padding: 1em;
}

.media-div {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: var(--side-brawn_dark);
    border-radius: 0.5em;
}

.media-div + .media-div {
    margin-top: 0.3em;
}

.tournament {
    display: flex;
    background-color: var(--side-brawn);
    padding: 1em 1em 0 1em;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
}

.tournament img {
    object-fit:contain;
    margin: 0.3em;
}

.number {
    margin-left: auto;
}

.footer {
    background-color: var(--side-brawn);
    padding: 1em;
}